{% load staticfiles %}

{# Load pwa related content #}
{# load pwa #}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# CCS do Font-awesome #}
<link rel="stylesheet" href="/static/css/all.css">
<link rel="manifest" href="/static/json/manifest.json">

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <!-- Registra o service worker -->
<script src="/static/js/main.js"></script>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vote.js"></script>

</head>

<style>
    .navbar {
        height: 50px;
    }
    #smallCaps{
        font-variant: small-caps;
    }

</style>
<body>


    <nav class="navbar navbar-expandsticky-top navbar-light bg-light mb-2">
        <div class="container-fluid">
            <div class="row">
                <div class='col'>
                        <span id="smallCaps">UpTalks</span>
                </div>
            </div>

                    {% if user.is_authenticated %}
                <div class='row'>
                        <div class='col-auto-shrink no-gutters'>
                                <small><a href="{% url 'blog:post_create' %}">nova publicação</a></small>
                        </div>
                        <div class='col-auto-shrink no-gutters'>
                            <small>&nbsp | &nbsp</small>
                        </div>
                        <div class='col-auto-shrink no-gutters'>
                                <small><a href="{% url 'blog:post_list' %}">todas publicações</a></small>
                        </div>
                        <div class='col-auto-shrink no-gutters'>
                            <small>&nbsp | &nbsp</small>
                        </div>
                        <div class='col-auto-shrink no-gutters'>
                                <small><a href="{% url 'logout' %}">sair</a></small>
                        </div>
                    </div>


                    {% else %}
                    <div class='row'>
                        <div class='col'>
                            <a href="{% url 'login' %}">entrar</a>
                        </div>
                        <div class='col'>
                            |
                        </div>
                        <div class='col'>
                            <a href="{% url 'django_registration_register' %}">registrar</a>
                        </div>
                     </div>
                   {% endif %}
        </div>
        </div>
    </div>
    </nav>

    <div id="content">
    		{% block content %}
    		{% endblock %}
    </div>

</body>
</html>